* {
  margin: 0;
  padding: 0;
}

.accordion{
  max-width: 980px;
  width: 80%;
  margin: 10px auto;

  .accordion__title {
    border-bottom: 1px solid #333333;
    font-size: 1.25em;
    font-weight: normal;
    padding-left: 30px;
    margin: 10px 0;
    position: relative;
    cursor: pointer;
    user-select: none;
  }
  
  .accordion__title::before {
    content: '';
    width: 6px;
    height: 6px;
    border: 0;
    border-bottom: solid 2px #333333;
    border-right: solid 2px #333333;
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -6px;
    transform: rotate(45deg);
  }
  
  .accordion__title.is-active::before {
    content: '';
    width: 6px;
    height: 6px;
    border: 0;
    border-top: solid 2px #333333;
    border-right: solid 2px #333333;
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -4px;
    transform: rotate(-45deg);
  }
  
  .accordion__content {
    padding: 0 1.5em;
    overflow: hidden;
    
    p {
      border-bottom: 1px dashed #333333;
      margin: 0.5em 0;
    }
  }
 
  .accordion__content.initial {
    line-height: 0;
    height: 0;
    opacity: 0;
  }

  .accordion__content.is-close {
    animation-name: fadeout-left;
    animation-duration: 500ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }

  .accordion__content.is-open {
    line-height: normal;
    height: auto;
    animation-name: fadein-left;
    animation-duration: 500ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }
}

@keyframes fadein-left {
  0% {
    opacity: 0;
    transform: translateX(-1.5em);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeout-left {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  50% {
    transform: translateX(-1.5em);
  }
  100% {
    line-height: 0;
    height: 0;
    opacity: 0;
  }
}