// global
$font-size-sp: 15px;
$section-margin: 60px;

// content
$subtitle-height: 150px;
$subtitle-height-pc: 200px;
$container-height: 450px;
$container-height-pc: 600px;
$content-background-color1: #F8F8F8;
$content-background-color2: #FFFFFF;