@charset "UTF-8";
.contact__detail {
  text-align: center;
  margin-bottom: 100px;
}

.contact__detail span {
  display: block;
  width: 100%;
  height: 1.5em;
}

.contact__contaier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, right top, from(#FFFFFF), color-stop(15%, #FFFFFF), color-stop(15%, #F8F8F8), to(#F8F8F8));
  background: linear-gradient(90deg, #FFFFFF 0%, #FFFFFF 15%, #F8F8F8 15%, #F8F8F8 100%);
}

.contact__wrapper {
  text-align: center;
  width: 65%;
}

.contact__wrapper h3 {
  font-size: 25px;
  text-shadow: 2px 4px 3px #808080;
  margin-bottom: 1em;
}

.contact__wrapper h3::after {
  content: '-お問い合わせ/ご予約-';
  display: block;
  font-size: 15px;
}

.contact__wrapper .btn {
  margin: 30px 0;
  text-align: center;
}

.contact__wrapper .btn__link {
  margin: initial;
}

.contact__wrapper_tab {
  display: none;
}

@media screen and (min-width: 414px) {
  .contact {
    padding-left: 30px;
    padding-right: 30px;
  }
  .contact__detail {
    display: none;
  }
  .contact__contaier {
    display: initial;
    background: initial;
  }
  .contact__wrapper {
    display: none;
  }
  .contact__wrapper_tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact__inner_container {
    position: relative;
    width: 100%;
    padding: 30px 0;
    margin-bottom: 30px;
  }
  .contact__inner_container h3 {
    font-size: 30px;
    font-weight: 800;
    text-shadow: 2px 4px 3px #808080;
    margin-bottom: 1em;
    padding-left: 5%;
  }
  .contact__inner_container p {
    padding-left: 15%;
    width: 70%;
  }
  .contact__inner_container .btn2 {
    text-align: right;
    margin-top: 30px;
    padding: 1em 0;
  }
  .contact__inner_container .btn2__link {
    border: solid 1px #707070;
    font-size: 15px;
    font-weight: 800;
    padding: 1em 4em;
  }
  .contact__bg_tab {
    position: absolute;
    top: 0;
    left: 10%;
    z-index: -1;
    width: 80%;
    height: 100%;
    background-color: #F4F4F4;
  }
}

@media screen and (min-width: 768px) {
  .contact__detail {
    display: block;
    font-size: 25px;
  }
  .contact__contaier {
    display: initial;
    background: initial;
  }
  .contact__wrapper {
    display: none;
  }
  .contact__wrapper_tab {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contact__inner_container {
    position: relative;
    width: 50%;
    padding: 30px 0;
  }
  .contact__inner_container h3 {
    font-size: 30px;
    font-weight: 800;
    text-shadow: 2px 4px 3px #808080;
    margin-bottom: 1em;
    padding-left: 5%;
  }
  .contact__inner_container p {
    padding-left: 15%;
    width: 70%;
  }
  .contact__inner_container .btn2 {
    text-align: right;
    margin-top: 30px;
    padding: 1em 0;
  }
  .contact__inner_container .btn2__link {
    border: solid 1px #707070;
    font-size: 15px;
    font-weight: 800;
    padding: 1em 4em;
  }
  .contact__bg_tab {
    position: absolute;
    top: 0;
    left: 10%;
    z-index: -1;
    width: 80%;
    height: 100%;
    background-color: #F4F4F4;
  }
}

@media screen and (min-width: 1367px) {
  .contact__detail {
    font-size: 30px;
  }
  .contact__wrapper_tab {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .contact__inner_container {
    width: 45%;
    padding: 30px 0;
  }
  .contact__inner_container h3 {
    font-size: 40px;
  }
  .contact__inner_container p {
    font-size: 18px;
  }
  .contact__inner_container .btn2__link {
    font-size: 20px;
  }
  .contact__bg_tab {
    left: 8%;
    width: 88%;
  }
}
/*# sourceMappingURL=contact.css.map */