@charset "utf-8";

:root {
	--header-hieght: 80px;
}

body {
  margin: 0;
}

header::before {
  content: '';
  background-color: #0001;
  position: absolute;
  height: 790px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

header {
  background: url(../images/background-logo.png) top center;
  background-position: center -170px;
  background-repeat: no-repeat;
  height: 850px;
  display: flex;
  justify-content: center;
  margin: 0;

  .header-wrapper {
    position: relative;
    z-index: 1;
    margin-top: 35px;
    background-color: #fff;
    width: 980px;
    height: var(--header-hieght);
    box-shadow: 5px 5px 0 0 #0001;

    .header-left{
      float: left;
      margin-left: 30px;
      display: flex;
      align-items: center;
      height: inherit;
    }

    .header-right {
      float: right;
      margin-right: 30px;
      display: flex;
      align-items: center;
      height: inherit;

      ul {
        list-style: none;
        text-align: center;
        margin: 0;

        li {
          display: inline-block;
          padding: 0 40px;
          position: relative;

          a {
            display: block;
            text-decoration: none;
            display: flex;
            align-items: center;
            height: var(--header-hieght);

            span {
              display: block;
            }
            span.en{
              color: #000;
            }
            span.ja {
              font-size: 0.8rem;
              color: #bbb;
            }
          }
        }

        li:not(:first-child)::before {
          content: '';
          display: inline-block;
          width: 1px;
          height: 10px;
          background-color:#000;
          position:absolute;
          top: calc(var(--header-hieght)/2 - 5px);
          left: 0;
        }
      }
    }
  }
}