@charset "utf-8";

:root {
	--header-hieght: 80px;
  --display-width: 980px;
}

body {
  margin: 0;
}

header::before {
  content: '';
  background-color: #0001;
  position: absolute;
  height: 790px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

header {
  background: url(../images/background-logo.png) top center;
  background-position: center -170px;
  background-repeat: no-repeat;
  height: 850px;
  display: flex;
  justify-content: center;
  margin: 0;

  .header-wrapper {
    position: relative;
    z-index: 1;
    margin-top: 35px;
    background-color: #fff;
    width: var(--display-width);
    height: var(--header-hieght);
    box-shadow: 5px 5px 0 0 #0001;

    .header-left{
      float: left;
      margin-left: 35px;
      display: flex;
      align-items: center;
      height: inherit;

      h1 {
        font-size: 1rem;
      }
    }

    .header-right {
      float: right;
      display: flex;
      align-items: center;
      height: inherit;

      ul {
        list-style: none;
        text-align: center;
        margin: 0;

        li {
          display: inline-block;
          padding: 0 35px;
          position: relative;

          a {
            display: block;
            text-decoration: none;
            display: flex;
            align-items: center;
            height: var(--header-hieght);

            span {
              display: block;
              color: #000;
            }
            span::after {
              display: block;
              font-size: 0.6rem;
              color: #7777;
            }
            span.about::after {
              content: '企業情報';
            }
            span.news::after {
              content: 'ニュース';
            }
            span.service::after {
              content: 'サービス&製品情報';
            }
            span.contact::after {
              content: 'お問い合わせ';
            }
          }
        }

        li:not(:first-child)::before {
          content: '';
          display: inline-block;
          width: 1px;
          height: 10px;
          background-color:#000;
          position:absolute;
          top: calc(var(--header-hieght)/2 - 5px);
          left: 0;
        }
      }
    }
  }
}